.ant-layout 
    height 100%
.ant-layout-sider
    height: 100%
.ant-layout-content
    height: 100%
    min-height: 100%
html,body
    overflow: hidden
    height: 100%
.ant-radio-button-wrapper:last-child
    margin-left: 20px